/* regole GENERALI PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}





/* regole HEADER */
header {
    background-color: #0084fd;
    height: 100px;
    width: 100%;
    max-width: 480px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    width: 100px;
}

header .header-nav .nav-mobile {
    color: white;
    font-size: 40px;
}

header .header-nav .nav-tablet-desktop {
    display: none;
}

header .header-nav .nav-tablet-desktop ul {
    color: white;
    display: flex;
    gap: 15px;
}

header .header-nav .nav-tablet-desktop ul li a {
    color: black;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}


    /* regole RESPONSIVE - HEADER - TABLET */
    @media screen and (min-width:480px) and (max-width:768px) {
        header {
            max-width: 768px;
        }
    } 


    /* regole RESPONSIVE - HEADER - DESKTOP */
    @media screen and (min-width:768px) {
        header {
            min-width: 768px;
            max-width: 100%;
            height: 60px;
        }

        header .container .logo img {
            width: 60px;
        }

        header .header-nav .nav-tablet-desktop {
            display: block;
        }

        header .header-nav .nav-mobile {
            display: none;
        }

        header .container {
            width: 70%;
        }
    } 





/* regole GET A DEMO section */
main .container .getademo-card {
    background-color: #b5ddff;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 15px;
}

main .container .getademo-card.first {
    margin-top: 150px;
    height: 550px;
}

main .container .getademo-card .card-text {
    padding: 25px;
    height: 100%;
}

main .container .getademo-card .card-text.center {
    text-align: center;
}

main .container .getademo-card .card-text i {
    color: #0184fd;
    font-size: 5em;
    margin-bottom: 0.5em;
}

#apple {
    color: white;
    font-size: 1em;
}

main .container .getademo-card .card-text h2 {
    color: #0184fd;
    font-size: 1.8em;
    margin-bottom: 1em;
}

main .container .getademo-card .card-text p {
    color: #5a6e7f;
    font-size: 1.2em;
    margin-bottom: 2em;
    font-weight: bold;
}

main .container .getademo-card .card-text a {
    color: white;
    background-color: #0184fd;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 1.2em;
}

main .container .getademo-card.first .card-text.first,
main .container .getademo-card.first .card-photo.first {
    height: 50%;
}

main .container .getademo-card.first .card-photo.first {
    position: relative;
}

main .container .getademo-card.first .card-photo.first img {
    max-height: 90%;
    position: absolute;
    bottom: 0;
    right: 25%;
}


    /* regole RESPONSIVE - GET A DEMO section - TABLET */
    @media screen and (min-width:480px) {
        .container.getademo-cont {
            max-width: 768px;
        }
        
        .getademo-cont {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        main .container .getademo-card {
            width: 32%;
            height: 550px;
        }

        main .container .getademo-card.first {
            width: 66%;
            /* 32% + 2% (margine) + 32% 
            2% di margine= 32*3= 96%
            100-96= 4% di margine
            4% è diviso su 2 lati, quindi /2= 2% */
        }

        main .container .getademo-card.second {
            margin-top: 150px;
        }

        main .container .getademo-card.row-bottom {
            height: 420px;
        }

        main .container .getademo-card .card-text i {
            font-size: 3em;
        }

        main .container .getademo-card .card-text h2 {
            font-size: 0.9em;
        }
        
        main .container .getademo-card .card-text p {
            font-size: 0.8em;
        }
        
        main .container .getademo-card .card-text a {
            font-size: 0.8em;
        }

        main .container .getademo-card.first .card-photo.first img {
            max-height: 70%;
        }
    } 


    /* regole RESPONSIVE - GET A DEMO section - DESKTOP */
    @media screen and (min-width:768px) {
        .container.getademo-cont {
            width: 70%;
            max-width: 100%;
        }

        main .container .getademo-card {
            height: 220px;
        }

        main .container .getademo-card.first {
            height: 220px;
            display: flex;
        }

        main .container .getademo-card.first .card-text.first,
        main .container .getademo-card.first .card-photo.first {
            height: 100%;
            width: 50%;
        }

        main .container .getademo-card.first,
        main .container .getademo-card.second {
            margin-top: 110px;
        }

        main .container .getademo-card.row-bottom {
            height: 220px;
        }

        main .container .getademo-card .card-text h2 {
            font-size: 1em;
        }
        
        main .container .getademo-card .card-text p {
            font-size: 0.7em;
        }
        
        main .container .getademo-card .card-text a {
            font-size: 0.6em;
        }
    }





/* regole STRATEGIC PLANNING section */
.strategic-planning {
    background-color: #9792e4;
    margin-top: 65px;
    padding-bottom: 30px;
}

.strategic-planning .container.strategic-cont {
    padding-top: 20px;
}

.strategic-planning .container .planning-col {
    width: 100%;
    min-height: 520px;
}

.strategic-planning .container .planning-col.col2 {
    border-radius: 50px;
    margin-top: 20px;
    background-color: white;
}


    /* regole RESPONSIVE - STRATEGIC PLANNING section - TABLET */
    @media screen and (min-width:480px) and (max-width:768px) {
        .container.strategic-cont {
            max-width: 768px;
        }
    } 


    /* regole RESPONSIVE - STRATEGIC PLANNING section - DESKTOP */
    @media screen and (min-width:768px) {
        .container.strategic-cont {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            width: 60%;
            max-width: 100%;
        }

        .strategic-planning .container .planning-col.col2 {
            min-height: 0;
            height: 380px;
        }
    } 





/* regole TESTIMONIALS section */
.testimonial-cont {
    padding: 65px 0 40px;
}

.testimonial-cont .testimonial-card {
    width: 100%;
    min-height: 430px;
    background-color: #9792e4;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 20px 0;
}


    /* regole RESPONSIVE - TESTIMONIALS section - TABLET */
    @media screen and (min-width:480px) {
        .container.testimonial-cont {
            max-width: 768px;
        }

        .testimonial-cont .testimonial-card {
            min-height: 260px;
            display: flex;
        }
    } 


    /* regole RESPONSIVE - TESTIMONIALS section - DESKTOP */
    @media screen and (min-width:768px) {
        .container.testimonial-cont {
            width: 70%;
            max-width: 100%;
        }

        .testimonial-cont .testimonial-card {
            min-height: 240px;
        }
    } 





/* regole BENIFITS section */
.benefits {
    background-color: #9792e4;
}

.benefits .benefits-cont .benefits-col-container {
    padding-bottom: 15px;
}

.benefits .benefits-cont .benefits-col {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 25px;
}


   /* regole RESPONSIVE - BENIFITS section - TABLET */
   @media screen and (min-width:480px) {
        .container.benefits-cont {
            max-width: 768px;
        }

        .benefits .benefits-cont .benefits-col-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
        }

        .benefits .benefits-cont .benefits-col-container .benefits-col {
            width: 48%;
        }
    } 


    /* regole RESPONSIVE - BENIFITS section - DESKTOP */
    @media screen and (min-width:768px) {
        .container.benefits-cont {
            width: 70%;
            max-width: 100%;
        }

        .benefits .benefits-cont .benefits-col-container .benefits-col {
            width: 32%;
        }
    }





/* regole ABOUT US section */
.container.aboutus-cont .aboutus-flex {
   
}


    /* regole RESPONSIVE - ABOUT US section - TABLET */
    @media screen and (min-width:480px) {
        .container.aboutus-cont {
            width: 80%;
            max-width: 100%;
        }

        .container.aboutus-cont .aboutus-flex {
            display: flex;
        }

        .container.aboutus-cont .aboutus-flex .aboutus-text-col {
            width: 60%;
        }

        .container.aboutus-cont .aboutus-flex .aboutus-photo-col {
            width: 40%;
        }
    } 


    /* regole RESPONSIVE - ABOUT US section - DESKTOP */
    @media screen and (min-width:768px) {
        .container.aboutus-cont {
            width: 65%;
        }
    }





/* regole GET STARTED section */
.getstarted {
    background-color: #9792e4;
    text-align: center;
}


    /* regole RESPONSIVE - GET STARTED section - TABLET */
    @media screen and (min-width:480px) {
        
    } 


    /* regole RESPONSIVE - GET STARTED section - DESKTOP */
    @media screen and (min-width:768px) {
       .getstarted .container {
        width: 70%;
       }
    }





/* regole FOOTER */
.footer {
    background-color: #383838;
    text-align: center;
}


    /* regole RESPONSIVE - FOOTER - TABLET */
    @media screen and (min-width:480px) {
        
    } 


    /* regole RESPONSIVE - FOOTER - DESKTOP */
    @media screen and (min-width:768px) {
       .getstarted .container {
        width: 70%;
       }
    }





/* regole DEBUG */
/* header .container {
    background-color: brown;
}

.logo, .header-nav {
    background-color: blueviolet;
    border: 2px solid black;
    min-width: 80px;
    min-height: 50px;
}

.container .header-nav .nav-mobile {
    background-color: rgb(34, 181, 140);
}

.container .header-nav .nav-tablet-desktop {
    background-color: rgb(197, 238, 11);
} */

/* main .container .getademo-card .card-text,
main .container .getademo-card .card-photo {
    background-color: blue;
    border: 2px solid black;
} */

.planning-col {
    border: 2px solid black;
}

.testimonial-cont .testimonial-card {
    border: 2px solid black;
}

.benefits .benefits-cont .benefits-col {
    min-height: 350px;
    border: 2px solid black;
}

.container.aboutus-cont .aboutus-flex .aboutus-text-col,
.container.aboutus-cont .aboutus-flex .aboutus-photo-col {
    background-color: rgb(211, 100, 100);
    border: 2px solid black;
    min-height: 400px;
}

.getstarted {
    min-height: 350px;
}

.footer {
    min-height: 350px;
}